pipeline/HTTPtoADLS.json
{
	"name": "HTTPtoADLS",
	"properties": {
		"activities": [
			{
				"name": "files_array",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_files_array",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "files_array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('files_array').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "HTTP_Ingestion_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_github",
									"type": "DatasetReference",
									"parameters": {
										"p_file": {
											"value": "@item().file",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ingest",
									"type": "DatasetReference",
									"parameters": {
										"p_file": {
											"value": "@{item().file}.json",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"files_array": {
				"type": "array",
				"defaultValue": [
					{
						"file": "bulk_rides.json"
					},
					{
						"file": "map_cancellation_reasons.json"
					},
					{
						"file": "map_cities.json"
					},
					{
						"file": "map_payment_methods.json"
					},
					{
						"file": "map_ride_statuses.json"
					},
					{
						"file": "map_vehicle_makes.json"
					},
					{
						"file": "map_vehicle_types.json"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-05T23:23:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}